@import "~LessConstants";

.navigationBar {
  padding: 0.75rem 1rem;

  &.light {
    background-color: @cinnemon;
  }
  &.dark {
    background-color: @smoke;
  }

  .heading {
    font-family: @main-font;
    font-size: 1.6em;

    &.light {
      color: @white;
    }
    &.dark {
      color: @cinnemon;
    }
  }
}
