@import "~LessConstants";

.app {
  height: auto;

  .container {
    height: auto;
    min-height: 100vh;

    .content {
      box-sizing: border-box;
      padding-bottom: 40px;

      &.light {
        background-color: @cream;
      }
      &.dark {
        background-color: @shadow;
      }

      .description {
        font-family: @main-font;
        font-size: 1em;
        padding: 1.5rem 1rem;

        &.light {
          color: @coal;
        }
        &.dark {
          color: @off-white;
        }
      }

      .divider {
        width: 100%;
        border-bottom: 1px solid @metal;
      }
    }
  }
}
