@import "~LessConstants";

.imageModal {
  .heading {
    font-family: @main-font;
    font-size: 1.5rem;
    font-weight: 600;
    color: @coal;
    padding-bottom: 10px;
  }

  .image {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
  }
}
