@import "~LessConstants";

.timelineImage {
  .image {
    height: 200px;
    width: 100%;
    max-width: 270px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    margin-top: 10px;

    &.light {
      border: 1px solid @metal;
    }
    &.dark {
      border: 1px solid @shadow;
    }

    &:hover {
      cursor: pointer;

      &.light {
        border: 1px solid @metal;
      }
      &.dark {
        border: 1px solid @coal;
      }
    }
  }
}
