@import "~LessConstants";

.controls {
  float: right;
  padding: 1rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
}

.controlsDefault {
  .controls();
  height: 50px;

  &.light {
    background-color: @cinnemon;
  }
  &.dark {
    background-color: @smoke;
  }

  .label {
    display: none;
  }
}

.controlsScrolled {
  .controls();
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &.light {
    background-color: @cinnemon;
  }
  &.dark {
    background-color: @smoke;
  }

  .label {
    font-family: @main-font;
    font-size: 0.8rem;
    padding: 0.15rem 0;
    cursor: pointer;

    &.light {
      color: @white;
    }
    &.dark {
      color: @off-white;
    }
  }
}
