@import "~LessConstants";

.none {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 1rem;

  &.light {
    background-color: @cinnemon;
  }
  &.dark {
    background-color: @smoke;
  }

  .text {
    font-family: @main-font;
    font-size: 1em;

    &.light {
      color: @white;
    }
    &.dark {
      color: @cinnemon;
    }
  }
}
