@import "~LessConstants";

.timelineItem {
  position: relative;
  display: flex;
  height: 100%;

  .date {
    min-width: 70px;
    font-family: @main-font;
    color: @cinnemon;
    font-size: 1.7em;
    padding-right: 20px;
  }

  .line {
    &.light {
      border-right: 1px solid @coal;
    }
    &.dark {
      border-right: 1px solid @white;
    }
  }

  .dot {
    position: absolute;
    top: 15px;
    left: 85.3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: @cinnemon;
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 0 60px 30px;

    .title {
      font-family: @main-font;
      font-size: 1.5em;

      &.light {
        color: @coal;
      }
      &.dark {
        color: @off-white;
      }
    }

    .subtitle {
      font-family: @main-font;
      font-style: italic;
      font-size: 0.9em;
      margin-bottom: 10px;

      &.light {
        color: @coal;
      }
      &.dark {
        color: @off-white;
      }
    }

    .content {
      font-family: @main-font;
      font-size: 0.9em;

      &.light {
        color: @coal;
      }
      &.dark {
        color: @off-white;
      }
    }

    .link {
      font-family: @main-font;
      color: @cinnemon;
      font-weight: 600;
      font-size: 0.9em;
      text-decoration: none !important;
      margin-top: 10px;

      &:visited {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }

      &:active {
        text-decoration: none;
      }
    }

    &.animate {
      animation-duration: 5s;
      animation-name: animate-content;
    }

    .opacify() {
      // change opacity based on percentage
      each(range(1%, 100%, 1), {
      
        @{value} {
          opacity: @value;
        }
      });
    }

    @keyframes animate-content {
      .opacify();
    }
  }
}
